html,
body {
    height: 100%;
}
body {
    background: url('/images/cork-wallet.png') #ddd;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.4;
    padding-top: 3rem;
}
.window {
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    color: #a9b7c6;
    height: 80%;
    margin: 0 auto;
    width: 80%;
}
.header {
    background: #202020;
    color: #909090;
    height: 5%;
}
.container {
    background: #2b2b2b;
    height: 95%;
    overflow: auto;
}
pre {
    box-sizing: border-box;
    margin:0;
    max-height: 100%;
    padding: 1rem;
}
.php .tag,
.php .keyword {
    color: #cc7832;
    font-weight: bold;
}
.php .variable {
    color: #9876aa;
}
.php .string,
.php .string a {
    color: #6a8759;
}
.php .string a:hover {
    font-weight: bold;
}
.php .number {
    color: #6897bb;
}
.php .function {
    color: #ffc66d;
}
