<span class="tag">&lt;?php</span>

<span class="variable">$applicant</span> <span class="operator">=</span> (<span class="keyword">new</span> \Person())

    <span class="operator">-&gt;</span><span class="function">setName</span>(<span class="string">'Kirill Nagovitsyn'</span>)

    <span class="operator">-&gt;</span><span class="function">addContact</span>(<span class="string">'e-mail'</span>, <span class="string">'<a href="mailto:nicon.work@gmail.com">nicon.work@gmail.com</a>'</span>)
    <span class="operator">-&gt;</span><span class="function">addContact</span>(<span class="string">'mobile'</span>, <span class="string">'+7 (909) 067-03-88'</span>)
    <span class="operator">-&gt;</span><span class="function">addContact</span>(<span class="string">'skype'</span>, <span class="string">'<a href="skype:kirill.nicon">kirill.nicon</a>'</span>)

    <span class="operator">-&gt;</span><span class="function">addLink</span>(<span class="string">'linkedin'</span>, <span class="string">'<a href="https://ru.linkedin.com/in/kirilln">https://ru.linkedin.com/in/kirilln</a>'</span>)
    <span class="operator">-&gt;</span><span class="function">addLink</span>(<span class="string">'vk'</span>, <span class="string">'<a href="https://vk.com/nicon">https://vk.com/nicon</a>'</span>)


    <span class="operator">-&gt;</span><span class="function">addEducation</span>(
        (<span class="keyword">new</span> \Education\Institute(<span class="string">'ФГБОУ ВПО «ГГПИ им. В. Г. Короленко»'</span>))
            <span class="operator">-&gt;</span><span class="function">from</span>(<span class="number">2007</span>)<span class="operator">-&gt;</span><span class="function">to</span>(<span class="number">2012</span>)
            <span class="operator">-&gt;</span><span class="function">department</span>(<span class="string">'Факультет информатики, физики и математики'</span>)
            <span class="operator">-&gt;</span><span class="function">qualification</span>(<span class="string">'Учитель математики и информатики'</span>)
    )
    <span class="operator">-&gt;</span><span class="function">addEducation</span>(
        (<span class="keyword">new</span> \Education\College(<span class="string">'ФГОУ СПО «Глазовский технический колледж»'</span>))
            <span class="operator">-&gt;</span><span class="function">from</span>(<span class="number">2002</span>)<span class="operator">-&gt;</span><span class="function">to</span>(<span class="number">2007</span>)
            <span class="operator">-&gt;</span><span class="function">qualification</span>(<span class="string">'Cтарший техник'</span>)
    )
    <span class="operator">-&gt;</span><span class="function">addEducation</span>(
        (<span class="keyword">new</span> \Education\Other())
            <span class="operator">-&gt;</span><span class="function">from</span>(<span class="number">2012</span>)
            <span class="operator">-&gt;</span><span class="function">description</span>(<span class="string">'Курсы php-программирования. Выдано свидетельство'</span>)
    )

    <span class="operator">-&gt;</span><span class="function">addExperience</span>(
        (<span class="keyword">new</span> \Experience\Company(<span class="string">'ООО «Новые информационные технологии»'</span>))
            <span class="operator">-&gt;</span><span class="function">from</span>(<span class="number">2012</span>)<span class="operator">-&gt;</span><span class="function">to</span>(<span class="number">2016</span>)
            <span class="operator">-&gt;</span><span class="function">position</span>(<span class="string">'Веб-разработчик'</span>)
            <span class="operator">-&gt;</span><span class="function">responsibility</span>(<span class="string">'Поддержка и доработка существующих проектов'</span>)
            <span class="operator">-&gt;</span><span class="function">responsibility</span>(<span class="string">'Разработка новых проектов'</span>)
    )

    <span class="operator">-&gt;</span><span class="function">addSkills</span>(<span class="string">'languages'</span>, [<span class="string">'PHP'</span>, <span class="string">'Java Script'</span>])
    <span class="operator">-&gt;</span><span class="function">addSkills</span>(<span class="string">'databases'</span>, [<span class="string">'MySQL'</span>])
    <span class="operator">-&gt;</span><span class="function">addSkills</span>(<span class="string">'web'</span>, [<span class="string">'CSS'</span>, <span class="string">'HTML 4.1'</span>, <span class="string">'XHTML 1.0'</span>, <span class="string">'HTML 5'</span>])
    <span class="operator">-&gt;</span><span class="function">addSkills</span>(<span class="string">'vcs'</span>, [<span class="string">'mercurial'</span>]);
