 ```````````````````````````````````````````````                  `````````````
```````````````````````````````````````````````                  `````````````````` ````
```````````````````````````````````````````````                  ``````````````````````````
```````````````````````````````          `` ````                 ````````````````````````````
```````````````````````````                                      ``````````````````````````` ``
``````````````````             ` `       `  ``                   ```````````````````````````  `
``````````````            ` ```  `  ````...```````               `````````````````````````   `
````````````                  ``````.-....````````                   `````````````````````   `
``````````                ``````...-....`````````                     ``````````````` `` ````   `
`````````            `````...--:::-..``````````.`````     ````````````...````````````````` `
```````             ```.--.------:--......````./-````````````...```..--:---.`````````````` ````
```````           ```..----:::---::::-::--/:..+s+:.`.:/-..----:----..-:::----.````````````````` `
``````           ```....---::..---://++//yho:-yddo::osss/::++//+//:--.:-`..----``````````````` ``
`````           ````````..---:::///osyssdmds+odmdh+ohddhoo++so+syo/::/--.```..--``````````````
````            ```` ```..-////:/+shhyhmmmdhyymmmdyydmmmdsoossyhdys/+o/--.-.``...````````````
````             `  ```..-:/:+++oyhhhmmmmmmddymmmhsdmmNNmyoyyhdmmddhhys+/:::-.`.``````````````
````              `----:::-:osooydddNNNNNNmmhymmdydNNNNNNdhddmmNmmmmdhyo++/::-..-````````` ``` `
````             `-:-:://--ohssyhmmNNNNNNNmNmdNmmmNNNNNNNNmmmNNNNmmmddyo+//:/-..-``````````` ```
```             `.::--:/+-/yhyyddmNNNNNNNNNNNNNNNNNNNNNNNNNmmNNmmmmmmdyso/-..:-..``` ````````
````           `.--..-:/++shhhdmmmNNNNNNNNNNNNNNNNNNNNNNNNNNNmNmmmmmmdhyso/.`-:--````````````````
````           `.-..--//osyhhdmmmmmmNmNNNNNNNNNNNNNNNNNNNNNNNNNNNmmmmdhyss+-..::-```````````````  ``
````          ```...--:/ossyhdmmmmmmNNNNNNNNNNNNNNNNNNNNNNNNNNNNNmmdddhysso:-:::-```````````````````
````          ```...--/oosyyhddmmmmmmNNNNNNNNNNNNNNNNNNNNNNmmmddddddddhsoso:-:--`````````````````  `
````           ``-...-/osssyyhddddddddddddmmmNNNNNNNNNNNNmmdhhdddmmddddyoso:--..``````````````````
````           ``.-.--/osyssshddmdmmmmmmmdmmmmmNNNNNNNNmmmmmmmmmmdddddhhyys:..``````````````````` `
`````          ```----/osyysydddddddddddddmmmmmmmmNNmmmmmmmddysoohhysyhhhyy/.``````````````````    `
`````          ````.`./oyhyhhddhyyyho/+/ymdddddhdmmmmmdhdddmdo//+mmhsyyddhy+.``:````````````````   `
``````         `-..```/syhhhddhysyhmyoosdNmdhdhhhdmmmmdhdddmmmhhdmddhhdddhho-:s:````````````````  ``
``````         `yso-``/syhdddddhhhddmdmmmmmmmdhhdhddmmdhhhmmmNNmmmmmmddddhhshd+`````````````````````
``````         `shdh:`/syhhdddddddmmmmmmmmmmddddhhhddddhyhddmmmmNmmmmmmddhysmm-```````````````````
```````         .ydmds+syhhhddmdmmmmmNmmmmmmdddhyyhhdddhhyhdmmmmmmmmmmmmdhysmh`````````````````````
```````          +mNNhoosyhhddmmmmmmmmmmmmmmmdyyyhhddmddhhhdmmmmmmmmmmmmdhysd:``````````````````````
```````          .dmmds+osyhddmmmmmmmmmmmmmmmyyhddmmNNNmmddhdmNNmmmmmmmddhyyo```````````````````````
..``````          /dhhy+ooyhddmmmmmmmmmmmNNNdydddhhdmNmdhdddhmNNNmmmmmmddhyo.```````````````````````
..```````         `ohhds++shdddmmmmmmmmNNNNNdhdmdyddddddhddddmmNNmmmmmmdhhs+````````````````````````
`.````````         `+sdh+/oyhdddmmmmmmmNNNmmmmdddmmNmmmmmddmmmmmmmmmmmmdhy/+.```````````````````````
```````````         `:ydy/+oyhddmmmmmmmmmmmmmmmmdmmmmNmmmmmmmmmmmmmmmmdhhs--````````````````````````
``````````````        .--./+syhddmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmdddhy+``````````````````````````
`````````.`````           ./osyhdddmmmmmmmmmmmmmmmmmmmmdddddmdddmmddddhyo-``````````````````````````
`````````.`````           `./osyhddmmddmmmddddhhhhhdhhhhyyyyyyhdmmmmddys:```````````````````````````
``````````````            `.-/+syhddddmmmmdhyyyyyhhhhhdhhhdhhdmmmmmddhs:````````````````````````````
```````                `  `:+:/+syhddmmmmmmmmdhhhdddddddddddddmmmmddhs:`````````````````````````````
``              ` `   ``  `.ss///oyhdddmmmmmmmmmddddddddddmmmdmmmddyo-`                        `````
               ` `    `   ``+hys+/osyhdddmmmmmmmmmmmmmmmmmmmmmmmddy+.``                            `
            ` ```   `` `  ``.shhhyoooyhdddmmmmmmNNNNmNNNmNmmmmmmdyo-`````  ` ``````
         `  ``````  ````  ```/hddhhyoosyhddmmmmmNNNmmmmmmmmmdddhsso.`````   ``
     `  `  ````````` ```   ```ohdddddhsosyhddddmmmmmddmmmmdhhhysyy+````
  ``    `  ` ``````  ```   ```.sdddddddhyo+oyyyhhddddhdddhyoo++yhy:````
``````` `    `````` ` ```` ````.sdmdmmmdddhso//++oososoo++/+++syys.````           ` `
`````````    ````````````   ````.smmmmmmmdddddyyyyyyhhyhhddhsoshy+`````      ```` `            `
``````````` ``````````````   `````ommmmmmmmmmmmmmmNNNNNNNmhyssyys.``````` `.-:+.`
`````````````````````` ````  ``````/mNmmmmmmmmmmmmmmNNNNmdyssyyy:`````````ohddd/`         ``
`````````````````````` ````` ```````:dNNNNmmmmmmmmdmmmmmhyyyyyy/``````````-yhddy``       ``   `
`````````````````````````````````````-yNNNNmmmmmmmmmdddhyhhyyy+.```````````:dddd:`       `   `
```````````````` ``````````````````````omNNNNNNNNNNNmmddddhyso:`````` ``````odddy```        `
````````````````````````````````````````:dmNNNNNNNNNNNmmmdyso//`````````````.yddh-`       ``      `
`````````````````````````````````````````.smmNNNNNNNNNmmhyss+o/`````  ```````/ddds``     ```     ``
``````````````` ```````````````````````````:hmmmmmmmmmdhyyyosy:`````   ```````yddd.`
````````````````-ys/````````````````````````.odmmmmdddhhhhsshy```````  ```````:ddd+`
`````````````````+hy/`````````````````````````:hdddddddddysdd+```````   ```````odmy`
`````````````````.yyo``````````````````````````.ohdddddddyhmh.``````   ````````.hmd.           `
 `````````````````/hy.```````````````````````````:hdddmmdydm/```````     ```````:dm/````
    ```````````````sy+````````````````````````````.odmmmdhdy`````````   ````````.ddy.``````     `
